<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT sintraAngularJsMaster ANY>
<!ATTLIST sintraAngularJsMaster id ID #REQUIRED>
<!ELEMENT sintraContentDocument ANY>
<!ATTLIST sintraContentDocument id ID #REQUIRED>
]>
<root id="-1">
  <sintraContentDocument id="1063" key="e5df84a8-c26e-49b5-8cbf-f5d6492a950b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-11-09T12:42:06" updateDate="2018-11-09T15:14:19" nodeName="Root" urlName="root" path="-1,1063" isDoc="" nodeType="1068" creatorName="Sintra Consulting" writerName="Sintra Consulting" writerID="0" template="1064" nodeTypeAlias="sintraContentDocument" isPublished="true">
    <enableNg>1</enableNg>
    <mainContent><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "SintraNgViewMacro",
                    "macroParamsDictionary": {
                      "viewName": "AngularJsTest",
                      "modules": "ui.bootstrap",
                      "services": "",
                      "directives": "",
                      "components": "",
                      "filters": ""
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": true
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "hasConfig": false,
          "id": "3794f9d9-3606-f26c-1f67-beade8d09308",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></mainContent>
  </sintraContentDocument>
</root>